.models_dropdown > div *:hover {
  cursor: pointer;
}

.generate_div {
  display: flex;
}

.generate_btn {
  flex: 1;
}

.save_params_btn {
  flex: 1;
}

.txt2img_generated_images {
  min-height: 512px;
}